$black: #444;
$white: #fff;

$white-hover: #eee;
$black-hover: #333;

$main-body-color: $black;

$background-color: rgba(40,120,160,1);
$contrast-color-1: rgba(0,200,180,1);
$main-body-color: $white;

$screen: "only screen" !default;
