html, body {
	height: 100%;
}

body {
	background-color: $background-color;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
}

.controller {
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.controller .color {
	color: white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
